body{
    background-color: #e2be8b;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo{
    width: 135px;
    height: 135px;
}
.topo{
    background-color:  #bb9469;
    border:1px solid #4d3721;
    margin: 0px;
    h1{
        margin: 0px;
        font-size: 40px;
        color: #4d3721;
    }
}

.menu{
    background-color:  #bb9469;
    border:1px solid #4d3721;
    margin-top: 05px;   
  
    ul{
        display: flex;
        margin: 10px;
        padding: 0px;
        justify-content: center;
    
        li{
            list-style: none;
            font-size: 20px;
            color: #4d3721;
            padding: 10px;
            width: 300px;
           font-size: 22px;
        }
        li:hover{
         
            color: #f5f5f5;
        }
    }
}
.informacoesLocal{
    background-color: rgb(37, 127, 206);
}